body {
  /* font-family: 'Open Sans', sans-serif; */
  /* background-color: black; */
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}
.container .main-container {
  position: relative;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  height: 100%;
  padding-left: 0px;
  justify-content: space-between;
}
.parent {
  position: relative;
}

ul li {
  /* width: 100px; */
  height: 100%;
  margin-bottom: 0px;
}
.list-wrap {
  overflow: visible;
}

.stocksContainer {
  width: 100%;
  /* overflow: visible; */
}

.stockDesc:hover {
  border-bottom: none;
  color: white;
}
.options span .icon {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.options span .icon:hover {
  /* background-color: rgba(58, 57, 57, 0.1); */
}
.start {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
.row {
  height: 100vh;
}
.row .col {
  height: 100%;
}
button:focus {
  outline: none;
}
.form-wrap p a {
  text-decoration: underline;
  /* color: #00A3FE; */
}
.main-menu.off {
  display: none;
}
.promo-sec {
  height: 100%;
  width: 100%;
  background: #055b8a;
}
#logo {
  height: 30px;
  width: 30px;
  font-size: 18px;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 40px;
  left: 40px;
  display: grid;
  place-content: center;
}
.copy {
  width: 428px;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  margin-bottom: 15px;
  position: relative;
}
.copy p {
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0px;
  color: rgb(209, 207, 207);
}
.copy h6 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer {
  color: white !important;
  position: absolute;
  bottom: 0;
  height: 20px;
  font-size: 12px;
  margin: 20px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.promo {
  height: 50%;
  width: 50%;
  position: relative;
  top: 170px;
  left: 300px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  justify-content: center;
}
.promo h1 {
  font-weight: bold;
  font-size: 60px;
}

.lcol {
  right: 167px;
}
.sample {
  color: white;
  width: 100%;
  font-size: 4rem;
  text-align: right;
  font-weight: bolder;
  position: relative;
  bottom: 20px;
  margin-right: 140px;
}
.sample:first-child {
  right: 35px;
}

.container.main-container,
.container.header-container {
  padding: 0px 180px;
  overflow: visible;
  position: relative;
}



@media (min-width: 1200px) {
  .container.main-container.prod-container {
    padding: 0px 170px;
    overflow: visible;
    position: relative;
  }
  #product {
    width: 24%;
  }
}
@media (max-width: 960px) {
  .container.main-container.prod-container {
    padding: 0px 20px;
  }
}
@media (max-width: 1100px) {
  .container.main-container.prod-container {
    padding: 0px 20px;
  }
  #product {
    width: 32%;
  }
}

.container.settings-container {
  padding: 0px 140px;
}

#ic {
  max-width: 1130px;
  position: fixed;
  z-index: 1;
  padding: 0px 360px;
  padding-left: 10px;
}

#table-container {
  padding: 0px 180px;
}
.stockCard,.mobile--header {
  display: none;
}
@media (min-width: 375px) {
  .container.main-container {
    padding: 0px 60px;
    max-width: 1200px;
  }
}

@media (max-width: 1000px) {
  .container.main-container {
    padding: 0px 100px;
    max-width: 1200px;
  }
  #ic {
    max-width: 1130px;
    position: fixed;
    z-index: 1;
    padding: 0px 460px;
    padding-left: 10px;
  }
  #table-container {
    padding: 0px 180px;
  }
}

@media (min-width: 1200px) {
  .container.main-container {
    padding: 0px 100px;
     margin-top: 100px;
    max-width: 1200px;
  }
}

@media (min-width: 1024px) {
  .container.main-container {
    padding: 0px 100px;
    margin-top: 100px;
    max-width: 1200px;
  }
  .table--header {
     padding: 0px;
     top: 0px;
     max-width: 1000px;
  }
  #ic {
    max-width: 1130px;
    position: fixed;
    z-index: 1;
    padding: 0px 180px;
    padding-left: 10px;
  }
  #table-container {
    padding: 0px 180px;
  }
}

@media (max-width: 1024px) {
  #product {
    width: 29.5%;
  }
}
@media (max-width: 420px) {
  .stockCard, .mobile--header {
    display: block;
  }
  .login--form--cont {
    padding: 0px;
  }
  #acc--form--cont {
    padding: 0px 0px;
    width: 300px;
    margin: auto;
  }
  #acc--form--wrapper {
    padding: 0px 0px;
  }
  #form--group--cont {
    height: 55px;
    overflow: hidden;
  }
  #pri--btn {
    height: 55px;
    font-size: 16px;
  }
  #pri--input {
    padding: 0.575rem 0.7rem 0.275rem 0.75rem;
    font-size: 15px;
  }
  #pri--input:focus {
    /* border-radius: 8px 8px 0px 0px; */
  }

  .main--account--container {
    background: black;
    overflow: hidden;
    position: relative;
    padding: 0px;
    margin: 0px;
  }
  .styler-box0,
  .styler-box1,
  .styler-box2,
  .styler-box3 {
    position: absolute;
    height: 40%;
    width: 40%;
    border-radius: 220px;
    transform: rotate(90deg);
    z-index: 200;
    top: -15%;
    left: 50%;
    display: none;
    border: 50px solid rgba(4, 118, 249, 0.054);
  }
  .styler-box1 {
    top: 80%;
    width: 150px;
    height: 150px;
    left: -15%;

    transform: rotate(90deg);
    display: block;
    border-radius: 50%;
  }
  .styler-box2 {
    top: 75%;
    width: 40%;
    left: 5%;
    display: none;
    height: 40%;
    transform: rotate(0deg);
  }
  .styler-box3 {
    top: -10%;
    width: 80%;
    left: 65%;
    height: 40%;
    transform: rotate(0deg);
    display: block;
  }
  #main--app--header {
    height: 60px;
  }
  #top--header {
    grid-template-columns: 20% 60% 20%;
    padding: 0px 10px;
  }
  #search--container {
    width: 100%;
  }
  #sidenav--bar {
    display: none;
  }
  #logo--section {
    width: 100%;
  }
  #search--section {
    width: 100%;

  }
  #menu--section {
    width: 100%;
    height: 100%;
  }
  .app--name {
    display: none;
  }
  .container.main-container {
    padding: 0px;
  }
  .list-wrap {
    height: 100%;
    overflow: visible;
    position: relative;
    width: 100%;
    padding-top: 70px;
    background-color: rgba(116, 116, 128,.08);
  }
  .stocksContainer, .table--header, #search--form, 
  .groupCont, .logo, .app, #sidenav--bar
  .table--header, .promo-sec, #top--header {
      display: none;
  }

}
.icon {
  position: relative;
  width: auto;
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.icon div:first-child {
  position: relative;
  bottom: 60%;
}

.arrorBox {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: rgba(149, 198, 247, 0.5);
  place-items: center;
  display: flex;
  cursor: pointer;
}
.downTrend {
  transform: rotate(180);
}
.upTrend {
  transform: rotate(0);
}
.no-trend {
  color: lightgray;
  font-size: 10px;
  position: relative;
  bottom: 1px;
}

.igroup {
  margin-top: 30px;
  padding: 15px 0px;
  position: relative;
  /* overflow: hidden; */
}
.date-separator {
  margin-bottom: 0px;
  position: absolute;
  text-align: center;
  font-size: 13px;
  top: -9px;
  width: auto;
  background-color: white;
  color: lightgray;
  left: 15px;
}
.clearAll {
  font-size: 11px;
  margin-bottom: 0px;
  position: absolute;
  color: rgb(97, 96, 96);
  bottom: 5%;
  right: 4.5%;
  cursor: pointer;
}
.clearAll:hover {
  color: #00a3fe;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: visible;
  width: 100%;
}
.clearfix {
  margin-bottom: 0px;
  width: 100%;
  display: block;
}
.clearfix:after {
  clear: both;
}
.stockList {
  margin-bottom: 0px;
  width: 100%;
  display: block;
}
/* .ic {
  max-width: 960px;
  position: fixed;
  z-index: 100;
  padding-right: 0px;
  padding-left: 0px;
  background-color: ghostwhite;
} */
/* @media (min-width: 1200px) {
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1050px;
    padding-right: 30px;
    padding-left: 30px;
    width: 900px;
  }
} */
ol,
ul {
  padding-left: 0rem;
}
#subInfo {
  color: grey;
  font-size: 12px;
}
